<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">


	<!-- This is to enable security at method level -->
	<global-method-security pre-post-annotations="enabled" />

	<!-- Any one who is a user can access this url with below pattern -->
	<http>
		<intercept-url pattern="/**" access="hasRole('COMPANY_TRANSPORT_MANAGER')" />
		<custom-filter ref=""/>
		<http-basic />
		<logout />
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="loginService">
			<password-encoder hash="sha" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>